<div class="container">
<div class="row">
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
<h5 class="card-title text-center">Add FeedBack Details</h5>
<form [formGroup]="feedBackForm" (ngSubmit)="onSubmit()">
        <div  class="form-group">
        <label for="status">Status:</label>
        <fieldset>
          <input type="radio" [(ngModel)]="feedBack.status" formControlName="status" value="PARTICIPATED" id="status" />Participated
          <input type="radio" [(ngModel)]="feedBack.status" formControlName="status" value="UNREGISTERED" id="status" />UnRegistered
          <input type="radio" [(ngModel)]="feedBack.status"formControlName="status" value="NOTATTENDED" id="status" />NotAttended
        </fieldset>
        <div *ngIf="submitted && feedBackForm.controls.status.errors" class="errors">
                <div *ngIf="feedBackForm.controls.status.errors.required">Status is required</div>
        </div>
        </div>   
    <div class="form-group">
        <label for="feedBackDesc">FeedBack Question:</label>
        <input type="text" class="form-control" formControlName="feedBackDesc" id="feedBackDesc"
        [(ngModel)]="feedBack.feedBackDesc"  placeholder="FeedBack description" size="35" maxlength="255">
        <div *ngIf="submitted && feedBackForm.controls.feedBackDesc.errors" class="errors">
            <div *ngIf="feedBackForm.controls.feedBackDesc.errors.required">FeedBack description is required</div>
        </div>
    </div>
    <div class="form-group">
        <div class="md-form">
            <label for="emailTemplate">Input Type</label>
            <fieldset>
                <input type="radio" [(ngModel)]="feedBack.inputType" formControlName="inputType" value="Smiley" id="inputType" />Smiley Based
                <input type="radio" [(ngModel)]="feedBack.inputType" formControlName="inputType" value="Radio" id="inputType" />Radio
                <input type="radio" [(ngModel)]="feedBack.inputType"formControlName="inputType" value="TextArea" id="inputType" />Text
              </fieldset>
              <div *ngIf="submitted && feedBackForm.controls.inputType.errors" class="errors">
                      <div *ngIf="feedBackForm.controls.inputType.errors.required">Input Type is required</div>
              </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="onSubmit(feedBack);">Save</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    