
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

td.mat-column-star {
  width: 15px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

md-icon{
  font-family: 'Material Icons' !important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}