<div class="container-fluid">
    <div class="container">
        <h3 mat-dialog-title>Edit User {{user.associateId}}</h3>
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
       
      <div class="form">
        <mat-form-field color="blue">
            <input matInput #input class="form-control" [(ngModel)]="user.associateName" 
                    name="associateName" required  placeholder="Name" ngModel maxlength="100">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field >
            <mat-select class="form-control" color="blue"
                 [(ngModel)]="user.role" name="role"  placeholder="Role" required>
              <mat-option   value="">--Select--</mat-option>
              <mat-option   value="ADMIN">Admin</mat-option>
              <mat-option   value="PMO">PMO</mat-option>
              <mat-option  value="POC">Event POC</mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="save()">Save</button>
        <button mat-button (click)="cancel()" tabindex="-1">Cancel</button>
      </div>
    </div>
    </form>
    </div>
  </div>
  